[submodule "PdfTXT"]
	path = PdfTXT
	url = https://github.com/rafael-yml/VBA-PdfTXT.git
[submodule "PdfWRT"]
	path = PdfWRT
	url = https://github.com/rafael-yml/VBA-PdfWRT.git
[submodule "WinOCR"]
	path = WinOCR
	url = https://github.com/rafael-yml/VBA-WinOCR.git
[submodule "WdCOM"]
	path = WdCOM
	url = https://github.com/rafael-yml/VBA-WdCOM.git